{% extends "layout.html" %}

{% block title %}
    Today's Events
{% endblock %}

{% block main %}

<!-- Gannochy Table -->

<h3>Gannochy</h3>
<table class="table table-striped tablemobile" style="width:100%">
        <thead>
            <tr>
                <th>Event</th>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
                <th>Type</th>
                <th>Status</th>

            </tr>
        </thead>

        <tbody>
                {% for booking in gannochy %}
                <tr>

                        <td><a class="blue">
                        {{ booking['group']['name'] }}</a></td>
                        <td><a class="blue">
                        {{ booking['name'] }}</a></td>
                        <td><a class="blue">
                        {{ booking['starttime'] }}</a></td>
                        <td><a class="blue">
                        {{ booking['endtime'] }}</a></td>
                        <td><a class="blue">
                        {{ booking['profile']['name'] }}</a></td>
                        <td><a class="blue">
                        {{ booking['status']['name'] }}</a></td>

                </tr>
                {% endfor %}
        </tbody>
    </table>

    <!-- Perth Theatre Table -->

    <h3 class=mt-5>Theatre Main House</h3>
    <table class="table table-striped tablemobile" style="width:100%">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Description</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Type</th>
                    <th>Status</th>

                </tr>
            </thead>

            <tbody>
                    {% for booking in pt %}
                    <tr>

                            <td><a class="blue">
                            {{ booking['group']['name'] }}</a></td>
                            <td><a class="blue">
                            {{ booking['name'] }}</a></td>
                            <td><a class="blue">
                            {{ booking['starttime'] }}</a></td>
                            <td><a class="blue">
                            {{ booking['endtime'] }}</a></td>
                            <td><a class="blue">
                            {{ booking['profile']['name'] }}</a></td>
                            <td><a class="blue">
                            {{ booking['status']['name'] }}</a></td>

                    </tr>
                    {% endfor %}
            </tbody>
        </table>

    <h3 class=mt-5>Joan Knight Studio</h3>
    <table class="table table-striped tablemobile" style="width:100%">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Description</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Type</th>
                    <th>Status</th>

                </tr>
            </thead>

            <tbody>
                    {% for booking in jks %}
                    <tr>

                            <td><a class="blue">
                            {{ booking['group']['name'] }}</a></td>
                            <td><a class="blue">
                            {{ booking['name'] }}</a></td>
                            <td><a class="blue">
                            {{ booking['starttime'] }}</a></td>
                            <td><a class="blue">
                            {{ booking['endtime'] }}</a></td>
                            <td><a class="blue">
                            {{ booking['profile']['name'] }}</a></td>
                            <td><a class="blue">
                            {{ booking['status']['name'] }}</a></td>

                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        <h3 class=mt-5>Norie Miller</h3>
        <table class="table table-striped tablemobile" style="width:100%">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Description</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Type</th>
                        <th>Status</th>

                    </tr>
                </thead>

                <tbody>
                        {% for booking in nm %}
                        <tr>

                                <td><a class="blue">
                                {{ booking['group']['name'] }}</a></td>
                                <td><a class="blue">
                                {{ booking['name'] }}</a></td>
                                <td><a class="blue">
                                {{ booking['starttime'] }}</a></td>
                                <td><a class="blue">
                                {{ booking['endtime'] }}</a></td>
                                <td><a class="blue">
                                {{ booking['profile']['name'] }}</a></td>
                                <td><a class="blue">
                                {{ booking['status']['name'] }}</a></td>

                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            <h3 class=mt-5>The Space</h3>
            <table class="table table-striped tablemobile" style="width:100%">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Description</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Type</th>
                            <th>Status</th>

                        </tr>
                    </thead>

                    <tbody>
                            {% for booking in space %}
                            <tr>

                                    <td><a class="blue">
                                    {{ booking['group']['name'] }}</a></td>
                                    <td><a class="blue">
                                    {{ booking['name'] }}</a></td>
                                    <td><a class="blue">
                                    {{ booking['starttime'] }}</a></td>
                                    <td><a class="blue">
                                    {{ booking['endtime'] }}</a></td>
                                    <td><a class="blue">
                                    {{ booking['profile']['name'] }}</a></td>
                                    <td><a class="blue">
                                    {{ booking['status']['name'] }}</a></td>

                            </tr>
                            {% endfor %}
                    </tbody>
                </table>

{% endblock %}
